h1{
    font-size: 2.5rem;
    font-weight: 500;
    color: white;

    @media (max-width: $bp-tablet){
        font-size: 2rem;
    }

    @media (max-width: $bp-phone){
        margin-bottom: .5rem;
    }
}

h2{
    color: $color-darkest-gray;
    font-size: 2rem;
    font-weight: 500;

    @media (max-width: $bp-screen-big){
        font-size: 1.5rem;
    }

    @media (max-width: $bp-tablet){
        font-size: 1rem;
    }
}

span{
    color: $color-dark-gray;
}