//1330px
$bp-screen-big: 83.125em;
//1100px
$bp-screen: 68.75em;
//750px
$bp-tablet-big: 46.875em;
//550px
$bp-tablet: 34.375em;
//430px
$bp-phone-big: 26.875em;
//375px
$bp-phone: 23.4375em;